// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #00897B !default;
$brand-info:                 #3949AB !default;
$brand-success:              #4CAF50 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
