<!DOCTYPE html>
{% extends 'routine/base.html' %}

{% load static %}

{% block content %}
    <span class="blockquote"></span>
    <div class="container col-sm-12 col-lg-6 ml-auto mr-auto">
        <table class="col-lg-2 ml-auto mr-auto text-center">
            {% if all_departments %}
                <h3 class="text-center"> DEPARTMENTS</h3>
                {% for departments in all_departments %}
                    <tr>
                        <td class="col-lg-2 ml-auto mr-auto">
                            <a href="{% url 'routine:sections' departments.id %}" class="btn btn-outline btn-block"><i class="material-icons">account_balance</i> {{ departments.name }} </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No Departments</h3>
            {% endif %}
        </table>
    </div>
{% endblock %}
