<!DOCTYPE html>
{% extends 'routine/base.html' %}

{% load static %}

{% block content %}
    <span class="blockquote"></span>
    <div class="container col-sm-12 col-lg-6 ml-auto mr-auto">
        <table class="col-lg-2 ml-auto mr-auto">
            <tr>

                <td class="col-lg-2 ml-auto mr-auto">
                    <button class="btn btn-info btn-round btn-lg">
                        <i class="material-icons">account_balance</i> CSE
                    </button>
                </td>


            </tr>
            <tr>

                <td class="col-lg-2 ml-auto mr-auto">
                    <button class="btn btn-info btn-round btn-lg">
                        <i class="material-icons">account_balance</i> ECE
                    </button>
                </td>


            </tr>
        </table>
    </div>
{% endblock %}
