<!DOCTYPE html>
{% extends 'routine/base.html' %}

{% load static %}

{% block content %}
    <span class="blockquote"></span>
    <div class="container col-sm-12 col-lg-6 ml-auto mr-auto">
        <table class="col-lg-2 ml-auto mr-auto text-center">
            {% if all_sections %}
                <h3 class="text-center">SECTIONS</h3>
                {% for sections in all_sections %}
                    <tr>
                        <td class="col-lg-2 ml-auto mr-auto">
                            <a href="{% url 'routine:section_routine' sections.id %}" class="btn btn-outline btn-block"><i
                                    class="material-icons">account_balance</i> {{ sections.name }} </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No Sections</h3>
            {% endif %}
        </table>
    </div>
{% endblock %}
