<!DOCTYPE html>
{% extends 'routine/base.html' %}

{% load static %}

{% block content %}
    <span class=" card card-header card-title text-center">DEPARTMENT NAME</span>
    <div class="container col-sm-12 col-lg-6 ml-auto mr-auto">
        <table class="col-lg-2 ml-auto mr-auto">
            <tr>

                <td class="col-lg-2 col-sm-12 text-center ml-auto mr-auto">
                    <button class="btn btn-info btn-round btn-lg">
                        <i class="material-icons">group_work</i> SEMESTER 1
                    </button>
                </td>


            </tr>
            <tr>

                <td class="col-lg-2 text-center ml-auto mr-auto">
                    <button class="btn btn-info btn-round btn-lg">
                        <i class="material-icons">group_work</i> SEMESTER 2
                    </button>
                </td>


            </tr>
        </table>
    </div>
{% endblock %}
