{% extends 'routine/base.html' %}
{% block content %}
    <style>
        table {
            margin-top: 30px;
        }

        table td, table th {
            border: 1px solid #ccc !important;
            padding: 0.5rem 1rem;
        }

    </style>
    <div class="container align-left">
        {% if all_teachers %}
            <h3 class="text-center">TEACHERS</h3>
            <table class="table">
                {% for teachers in all_teachers %}
                    <tr>
                        <td>{{ teachers.department }}</td>
                        <td>-</td>
                        <td>{{ teachers.name }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>No Teachers</h3>
        {% endif %}
    </div>
{% endblock %}