<!DOCTYPE html>
{% extends 'routine/base.html' %}

{% load static %}

{% block content %}
    <span class="blockquote"></span>
    <div class="container col-sm-12 col-lg-6 ml-auto mr-auto">
        <table class="col-lg-2 ml-auto mr-auto">
            {% if all_teachers %}
                <h3 class="text-center">TEACHERS</h3>
                {% for teacher in all_teachers %}
                    <tr>
                        <td class="col-lg-2 ml-auto mr-auto">
                            <a href="{% url 'routine:teacher_routine' teacher.id %}" class="btn-block btn btn-outline btn-lg"> <i class="material-icons">account_balance</i> {{ teacher.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No Departments</h3>
            {% endif %}
        </table>
    </div>
{% endblock %}
