<!DOCTYPE html>
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'images/College.JPG' %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="title text-center">
                        <h1>Routine Management System</h1>
                        <h3 class="brand text-center">Web Technology Mini Project</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-sm-12 ml-auto mr-auto">
                            <div class="card">
                                <div class="card-header card-header-text card-header-danger">
                                    <div class="card-text">
                                        <h4 class="card-title">Teacher Routine</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'routine:departments_teachers' %}" class="btn btn-outline">Go</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 ml-auto mr-auto">
                            <div class="card">
                                <div class="card-header card-header-text card-header-danger">
                                    <div class="card-text">
                                        <h4 class="card-title">Student Routine</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'routine:departments' %}" class="btn btn-outline">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}